//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;


//page color
$page-color: #5D5C5A;
$sub-color: #01C9A7;
$page-input: #f2f2f2;
$main-blue: #337AB7;
$main-font: #333;
$minor-font: #666;
$tip-font: #999;
$border-color: #ccc;
$btn-fill: #ebebeb;
$white: #fff;
$btn-press: #019E83;
$nav-press:#4A4A48;
$btn-blue:#0096FA;
$btn-blue-pressed: #0040FE;
